@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-cancel {
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
}

@layer base {
  /* Light */
  @font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./fonts/sohne/test-soehne-leicht.woff2) format("woff2");
    font-feature-settings: "ss01" 1;
  }

  /* Regular */
  @font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/sohne/soehne-buch.woff2) format("woff2");
    font-feature-settings: "ss01" 1;
  }

  /* Medium */
  @font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./fonts/sohne/test-soehne-kraftig.woff2) format("woff2");
    font-feature-settings: "ss01" 1;
  }

  /* Semi-bold */
  @font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./fonts/sohne/soehne-halbfett.woff2) format("woff2");
    font-feature-settings: "ss01" 1;
  }

  /* Bold */
  @font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/sohne/test-soehne-dreiviertelfett.woff2) format("woff2");
    font-feature-settings: "ss01" 1;
  }

  /* Black */
  @font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(./fonts/sohne/test-soehne-fett.woff2) format("woff2");
    font-feature-settings: "ss01" 1;
  }

  :root {
    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-400-muted: rgba(161, 161, 170, 0.25);
    --zinc-500: #71717a;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;
    --zinc-950: #09090b;

    /* Primary */
    --blue-50: #eff6ff;
    --blue-100: #dbeafe;
    --blue-200: #bfdbfe;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --blue-600: #2563eb;
    --blue-700: #1d4ed8;
    --blue-800: #1e40af;
    --blue-900: #1e3a8a;
    --blue-950: #172554;

    /* Error */
    --red-600: #dc2626;

    --primary-color: var(--blue-500);
    --primary-color-hover: var(--blue-400);
    --backdrop-color: var(--zinc-100);
    --backdrop-color-muted: var(--zinc-200);
    --backdrop-color-strong: var(--zinc-50);

    --panel-color: var(--zinc-100);
    --panel-color-hover: var(--zinc-200);

    --text-color: var(--zinc-950);
    --text-color-muted: var(--zinc-800);
    --text-color-subtle: var(--zinc-500);
    --text-color-hover: var(--zinc-500);
    --text-color-strong: black;

    --link-color: var(--zinc-950);
    --link-color-muted: var(--zinc-800);
    --link-color-hover: var(--zinc-800);
    --link-color-active: var(--zinc-500);

    --icon-color: var(--zinc-800);
    --icon-color-muted: var(--zinc-600);
    --icon-color-subtle: var(--zinc-500);
    --icon-color-hover: var(--zinc-500);

    --divide-color: var(--zinc-500);
    --divide-color-muted: var(--zinc-400);
    --divide-color-subtle: var(--zinc-200);

    --border-color: var(--zinc-500);
    --border-color-muted: var(--zinc-400);
    --border-color-muted-extra: var(--zinc-400-muted);
    --border-color-subtle: var(--zinc-300);

    --error-color: var(--red-600);

    /* React tooltip overrides */
    --rt-color-white: var(--zinc-50);
    --rt-color-dark: var(--zinc-950);

    /* Blog category tags */
    --tag-color: var(--zinc-50);
    --tag-color-algodata: #f97316;
    --tag-color-algodata-hover: #fb923c;
    --tag-color-proglang: #3b82f6;
    --tag-color-proglang-hover: #60a5fa;
    --tag-color-webdev: #d946ef;
    --tag-color-webdev-hover: #e879f9;
  }

  .dark {
    --backdrop-color: var(--zinc-950);
    --backdrop-color-muted: var(--zinc-800);
    --backdrop-color-strong: #060607;

    --panel-color: var(--zinc-950);
    --panel-color-hover: var(--zinc-900);

    --text-color: var(--zinc-100);
    --text-color-muted: var(--zinc-300);
    --text-color-subtle: var(--zinc-400);
    --text-color-hover: var(--zinc-400);
    --text-color-strong: white;

    --link-color: var(--zinc-100);
    --link-color-muted: var(--zinc-300);
    --link-color-hover: var(--zinc-300);
    --link-color-active: var(--zinc-500);

    --icon-color: var(--zinc-100);
    --icon-color-muted: var(--zinc-300);
    --icon-color-subtle: var(--zinc-400);

    --divide-color: var(--zinc-600);
    --divide-color-muted: var(--zinc-800);
    --divide-color-subtle: var(--zinc-800);

    --border-color: var(--zinc-500);
    --border-color-muted: var(--zinc-700);
    --border-color-subtle: var(--zinc-800);

    /* React tooltip overrides */
    --rt-color-white: var(--zinc-950);
    --rt-color-dark: var(--zinc-50);
  }
}
