@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light */
  @font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./fonts/sohne/test-soehne-leicht.woff2) format("woff2");
    font-feature-settings: "ss01" 1;
  }

  /* Regular */
  @font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/sohne/soehne-buch.woff2) format("woff2");
    font-feature-settings: "ss01" 1;
  }

  /* Medium */
  @font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./fonts/sohne/test-soehne-kraftig.woff2) format("woff2");
    font-feature-settings: "ss01" 1;
  }

  /* Semi-bold */
  @font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./fonts/sohne/soehne-halbfett.woff2) format("woff2");
    font-feature-settings: "ss01" 1;
  }

  /* Bold */
  @font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/sohne/test-soehne-dreiviertelfett.woff2) format("woff2");
    font-feature-settings: "ss01" 1;
  }

  /* Black */
  @font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(./fonts/sohne/test-soehne-fett.woff2) format("woff2");
    font-feature-settings: "ss01" 1;
  }

  :root {
    --background: #00171f;
    /* --background: #FCFEFF ***white background */
    --border: #005c7a;
    --surface: #005c7a;
    --primary: #00a7e1;
    --secondary: #48e5c2;
    --error: #f04248;
  }

  .light {
    --background: #fcfeff;
  }
}
